version: '3.9'
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: "ecom-admin"
      POSTGRES_PASSWORD: "shophikes123"
      POSTGRES_DB: ecom-db
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./data/minio:/data
    ports:
      - "9000:9000"
      - "9001:9001"
