version: '3.9'
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: shopadmin
      POSTGRES_PASSWORD: strongpassword
      POSTGRES_DB: shophikes
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./data/minio:/data
    ports:
      - "9000:9000"
      - "9001:9001"
